*/db/
*/incremental_db/
*/output_files/
*/simulation/
*/*.qws
*/greybox_tmp/
*/*.v.bak
*.bak/
*/*/synthesis/
*/software/*/obj/
*/software/*/*.elf
*/software/*/*.map
*/software/*/*.objdump
*/software/.metadata
*/software/*_bsp/*
*/software/RemoteSystemsTempFiles
